
.logo{
  margin:auto;
  margin-top:12rem;
  text-align: center;
}

.logo img{
  width: 20rem;
}

.std{
  margin-top: 6rem;
  color:#C80C00;
  text-align: center;
}

.btnholder{
  text-align:center;
}

.loginbtn{
  background:#C80C00; 
  color:#ffffff; 
  font-family: Roboto; 
  width:70%;
}

.website{
  font-family: Roboto; 
  text-align:center;
}

.list{
  width:90%;
  padding:10px;
}

.itemlogin{
  font-size: 1.5rem;
  margin-bottom: 5rem;
}
