*{
    margin:0;
    padding:0;
    font-family: Roboto;
}

.adsdiv{
    padding:0;
    margin:0;
}

.posts{
    margin-top:20px;
}

.toolbar-background{
    background:#ffffff;
}
.menubtn{
    color:#333333;
}

.toolbar-title{
    color:#333333;
}
.menu{
    padding:10px 15px;
}
.menuitem{
    color:#333333;
    font-size: 18px;
    margin-left:12px;

}

.item-md{
    padding:0;
}

.card-header-md{
    padding:8px 15px;
}
.studentinfo{
    height:180px;
}

.studentinfo img{
    height:8rem;
    margin:5rem auto;
}